* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hedvig Letters Serif', serif;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: #0d1f2d;
  border: 0.2vw solid #E4C3AD;
}

.container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  margin-top: 5vw;
  color: #FAE1DF;
  font-size: 5vw;
}

.main {
  margin-top: 4vw;
  display: flex;
  height: 30vh;
  width: 18vw;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5vw;
  /* background-color: red; */
}

.para {
  color: #0D1F2D;
  background-color: #9EA3B0;
  margin: 2vw;
  padding: 0.50vw 1vw;
  border: none;
  /* width: 5vw;
  height: 2.5vw; */
  font-weight: 700;
  border-radius: 0.2vw;
}

.boxes {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  text-align: center;
  height: 5vw;
  width: 5vw;
  border: none;
  border-radius: 1vw;
  font-weight: 700;
  color: #0D1F2D;
  font-size: 2vw;
  background-color: rgb(240, 240, 240);
}
.reset-button, .show-para {
  cursor: pointer;
  padding: 1vw 2vw;
  border: none;
  border-radius: 0.5vw;
  font-weight: 700;
  color: #0D1F2D;
  background-color: #9EA3B0;
}
.reset, .reset-para {
  display: none; 
}